.container_contact{
  margin: 5rem 10rem;
  box-shadow:0 10px 10px 10px rgba(0, 0, 0, 0.4), 0 10px 10px 10px rgba(0, 0, 0, 0.19);
}

.contact_wrap{
    padding: 1rem 2rem ;
}

.contact_header{
    color: #EF9B0F;
    font-size: 2rem;
}

.contact_info{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.contact_form input{
    padding: 1rem;
    margin: 0 2rem 0 0;
}

.contact_links li{
    list-style-type: none;
    padding-right: 1rem;
}

.contact_links ul{
    display: flex;
}

.contact_info2{
    display: flex;
    align-items: center;
}


.message{
    width: 25rem;
    height: 4rem;
}


.contact_button button{
    width: 10rem;
    height: 4rem;
    background-color: #EF9B0F;
    font-size: 1rem;
    border: none;
    transition: 0.3s ease-out;
}

.contact_button:hover button{
    background-color: white;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.contact_button{
    padding-left: 2rem;
}

@media screen and (max-width:950px) and (min-width:500px) {
    .contact_info2, .contact_info{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .contact_wrap{
        text-align: center;
    }

    .contact_button{
        padding-top: 1rem;
    }

}

@media screen and (max-width:500px) and (min-width:380px) {
    .container_contact{
        box-shadow: none;
        margin: 0 -1rem ;
    }
    .contact_info2{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:380px) and (min-width:300px) {
    .container_contact{
        box-shadow: none;
        margin: 0 -2rem;
    }

    .contact_info2, .contact_info{
        display: flex;
        flex-direction: column;
    }

    .contact_info{
        text-align: center;
    }

    .contact_header{
        font-size: large;
        text-align: center;
    }

    .contact_links{
        justify-content: center;
    }
}