.container_livestock{
    margin: 0 10rem;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.4), 0 10px 10px 10px rgba(0, 0, 0, 0.19);
}

.container_livestock_info{
    margin: 0 6rem;

    
}

.livestock_header{
    text-align: center;
    color: #EF9B0F;
    text-transform: uppercase;
    padding-top: 1rem;
}

.container_livestock_wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding: 1rem;
    justify-content: center;
}

.livestock_wrap{
    padding: 2rem 1rem;
    text-align: center;
}


.livestock_img {
    height: 300px;
    max-width: 100%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4), 0 0 10px 10px rgba(0, 0, 0, 0.19);
}

.livestock_info h3{
    text-transform: uppercase;
    color: #EF9B0F;
}

.livestock_button{
    background-color: #EF9B0F;
    font-size: 1rem;
    width: 100px;
    height: 50px;
    border: none;
    transition: 0.3s ease-in;
}

.livestock_button:hover {
    background: white;
    transition: 0.3s ease-out;
    cursor: pointer;
}

@media screen and (max-width:450px) and (min-width:380px) {
    .container_livestock_info{
        margin: 0 1rem;
    }
    .container_livestock{
        box-shadow: none;
        margin: 0 6rem;
    }
    
}

@media screen and (max-width:380px) and (min-width:300px) {
    .container_livestock_info{
        margin: 0 1rem;
    }

    .container_livestock{
        box-shadow: none;
        margin: 0 4rem;
    }

    .livestock_header{
        margin: 0 -2rem;
    }
}