.container_livestock {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.4),
    0 10px 10px 10px rgba(0, 0, 0, 0.19);
  background-color: #070707;
}

.container_livestock_wrap {
  display: flex;
  padding: 1rem 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 0.5s ease;
}

.livestock-img {
  padding: 1rem 0;
}

.livestock-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  text-align: center;
}

.livestock-img img {
  width: 400px;
  height: 400px;
}

.livestock-details h2 {
  margin-right: 2rem;
  border-right: 1px solid #fff;
  width: 150px;
}

.livestock-details p {
  width: 250px;
}

.details-p {
  font-size: 13px;
}

.livestock-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.livestock-buttons button {
  width: 100px;
  height: 50px;
  border: none;
  background: #ef9b0f;
  transition: 0.3s ease-in;
  margin: 1rem;
}

.livestock-buttons button:hover {
  background: white;
  transition: 0.3s ease-out;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .container_livestock_wrap {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .livestock-details h2 {
    font-size: 15px;
    width: 100%;
  }

  .livestock-details p {
    font-size: 12px;
    width: 100%;
  }

  .container_livestock_wrap {
    padding: 0 10px;
  }

  .livestock-img img {
    width: 300px;
    height: 300px;
  }
}
